@import "tailwindcss";

@font-face {
  font-family: "Systemia Test";
  src: url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.eot");
  src:
    url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/15b21b9548898a603f935f6fa7e507d8.svg#Systemia Test")
      format("svg");
}

body {
  background: var(--color-gray-100);
  color: var(--foreground);
  font-family: "Systemia Test", sans-serif;
}
